<!--
/**
 * Copyright © GFS Shipping
 */
-->
<div id="checkout-shipping-method-load">
    <div class="gfs-notice">
        <strong translate="'Delivery options powered by'"></strong>
        <img data-bind="attr: {src: getGfsLogoSrc()}"
             class="gfs-notice__icon"/>
    </div>
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data: rates(), as: 'method'} -->
        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>
