<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription success"}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

{{trans "You have been successfully subscribed to our newsletter."}}


<p>As a subscriber you will receive exclusive discounts and promotions.
As a subscriber you will…</p>

<ul>
	
	<li>Receive additional discounts off our already irresistible prices</li>

	<li>Early access to sales and promotions</li>

	<li>Early Bird Offers, Competitions and Samples</li>

</ul>

<br>
<p>So if you’re looking to make a homeware purchase…why not wait until Friday and take advantage of our weekly offer!</p>

<h3>Thanks again for subscribing.</h3>
<br>


<p><strong>Why you receive this E-mail:</strong> This promotional email was sent to you because you have subscribed to receive information, promotions and offers from Homescapes. To ensure that your Homescapes emails get to your inbox, please add <a href="mailto:support@homescapesonline.com"></a>support@homescapesonline.com to your email address book or safe sender list.</p><br>


<p><strong>Privacy Policy:</strong> We would like to assure you that Homescapes do not share customer details with any other company. For your information you can view our <a href="https://www.homescapesonline.com/info/website-privacy-and-cookies">Privacy Policy </a> on our website.</p>

{{template config_path="design/email/footer_template"}}
