<!--
/**
 * Copyright © GFS Shipping
 */
-->
<div id="gfs-checkout-widget">
    <div id="gfs-checkout-widget-container">

    </div>

    <div id="gfs-checkout-widget-inputs">
        <input type="hidden" name="checkoutResult" id="checkoutResult" />
        <input type="hidden" name="sessionID" id="sessionID" />
        <input type="hidden" name="checkoutData" id="checkoutData" />
    </div>
</div>

<div class="gfs-notice">
    <strong translate="'Delivery options powered by'"></strong>
    <img data-bind="attr: {src: getGfsLogoSrc()}"
         class="gfs-notice__icon"/>
</div>