<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="dividebuy_order_place_after" instance="Dividebuy\Payment\Observer\OrderSaveAfter"/>
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="custom_admin_system_config_changed_section_payment" instance="Dividebuy\Payment\Observer\PaymentObserver"/>
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="sales_order_creditmemo_refund_after" instance="Dividebuy\Payment\Observer\RefundObserver"/>
    </event>
</config>