<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Kp_Contacts>
            <version>0.0.1</version>
        </Kp_Contacts>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <use>standard</use>
                <args>
                    <module>Mage_Contacts</module>
                    <frontName>contact-us</frontName>
                </args>
            </contacts>
        </routers>
    </frontend>
</config>