figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}



.timeTo span {
	vertical-align: top;
    color: #fff;
}


.timeTo.timeTo-black div {
	color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #343434; /* Old browsers */
}




.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}



.timeTo div.first {
	border-left: 1px solid #343434;
    margin-right: 3px;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Black Friday Landing Page */
.black-friday-landing {
    position: relative;
}

.black-friday-landing .timeTo{ 
    width: 33%;
    margin: 0px auto;
    left: 0;
    top: 66%;
    
}
.black-friday-landing .timeTo ul li {
    font-size: 56px;
    font-weight: bold;
    line-height: 108%;
    color: #fff;
    margin: 0; 
}


@media screen and (max-width: 1220px) {
    .black-friday-landing #clockdiv {
        height: 600px;
    }
    .cms-black-friday #clockdiv {
        background-size: 100% 100% !important;
    }
    .black-friday-landing .timeTo {
        top: 56%;
        width: 41%;
        left: 7%;
    }
    .timeTo {
        width: 40%;
    }
}
@media screen and (max-width: 980px) {
    .timeTo {
        left: 2%;
        top: 52%; 
        width: 51%;
    }
    .black-friday-landing #clockdiv {
        height: 500px;
    }
    .black-friday-landing .timeTo {
        left: 6%;
        top: 56%;
        width: 53%;
    }
}
@media screen and (max-width: 768px) {
    .timeTo {
        left: 6%;
        font-size: 36px;
    }
    .timeTo div {
        width: 32px;
        height: 42px;
    }
    .black-friday-landing .timeTo ul li {
        font-size: 36px;   
    }
    .black-friday-landing #clockdiv {
        height: 400px;
    }
}
@media screen and (max-width: 600px) {
    .timeTo {
        left: 7%;
        font-size: 24px;
    }
     .timeTo div {
        width: 20px;
        height: 30px;
    }
    .timeTo figcaption {
        font-size: 10px !important;
    }
    .black-friday-landing .timeTo ul li {
        font-size: 24px;
    }
    .black-friday-landing .timeTo figcaption {
        font-size: 10px !important;
    }
    .black-friday-landing #clockdiv {
        height: 300px;
    }

}
@media screen and (max-width: 480px) {
    .timeTo {
        left: 6%;
    }   
    .black-friday-landing .timeTo {
        left: 3%;
        top: 56%;
        width: 57%;
    }
    .black-friday-landing #clockdiv {
        height: 250px;
    }
}

@media screen and (max-width: 375px) {
    .timeTo {
        left: 2%;
        width: 64%;
    }   
    
    .black-friday-landing .timeTo {
        left: 3%;
        top: 64%;
        width: 72%;
    }
    

}
