@charset "utf-8";
/* CSS Document */
.product-view .order-free-sambox strong,
.close-btn,
.ratings .rating-box,
.ratings .rating-box .rating,
.rating-review .overall-ratings .filter-box,
.rating-review .overall-ratings .filter-box .filter,
.rating-review .recommends-items .dyn-rating,
#customer-reviews dl dd .check-recommend,
#customer-reviews dl dd .nocheck-recommend,
.ratings-table .rating-box,
.ratings-table .rating-box .rating,
.title-box .rating-box,
.title-box .rating-box .rating,
.overall-box .rating-box,
.overall-box .rating-box .rating{
	 background-image: url(../images/icon_sprite_new.png);
background-repeat: no-repeat;
background-position: 0px 0px;
background-size: 300px 1300px;
}

   .rating-review {
  padding: 10px 0;
  float: left;
  width: 100%;
}
.rating-review h3 {
  color: #444444;
  
  font-size: 24px;
  margin-bottom: 15px;
  text-transform: capitalize;
	text-align: center;
}
.rating-review .rating-section {
  float: left;
  width: 100%;
  background:#f9f9f9;
  padding: 10px 0;
  
  font-size: 16px;
}
.ratings .rating-box .rating{
	float: left;
	height: 17px;
	background-repeat: repeat-x;
	background-position: 0 -283px;
	background-size: 300px 1300px;
}
.ratings .rating-box{
	width: 8.5rem;
height: 17px;
background-repeat: repeat-x;
background-position: 0 -302px;
overflow: hidden;
background-size: 300px 1300px;
}
.rating-review .rating-section ul li {
  float: left;
  padding: 10px 0;
}
.rating-review .rating-section ul li:nth-child(1) {
  margin-right: 50px;
  width: 22%;
}
.rating-review .rating-section ul li:nth-child(2) {
  padding-top: 40px;
  width: 31%;
}
.rating-review .rating-section ul li:nth-child(3) {
  width: 24%;
}
.rating-review .rating-section ul li:nth-child(4) {
  width: 18%;
	margin-top: 50px
}
.rating-review .rating-section .overall-ratings ul li:nth-child(4) {
  width: 18%;
	margin-top: 0px
}


.rating-review li.average-ratings {
  text-align: center;
}
.rating-review li.average-ratings .dyn-rating {
  height: 90px;
  margin: 0 auto;
  width: 120px;
  padding: 0;
  text-align: center;
}
.rating-review li.average-ratings .dyn-rating label {
  text-transform: capitalize;
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 600;
  margin-bottom: 0px;
}
.rating-review li.average-ratings .dyn-rating .ratings {
  margin-top: 0;
}
.rating-review li.average-ratings .dyn-rating .ratings .rating-box {
  margin: 0 auto;
}
.rating-review li.average-ratings .dyn-rating p {
  color: #2f2f2f;
  font-weight: 600;
  font-size: 34px;
  line-height: 30px;
}
.rating-review li.average-ratings .dyn-rating span {
  color: #1c1c1c;
  font-size: 13px;
}
.rating-review li.average-ratings p {
  color: #1c1c1c;
}
.rating-review li.average-ratings span {
  color: #444444;
  font-size: 13px;
}
.rating-review .filter-review p {
  color: #1c1c1c;
  font-size: 14px;
}
.rating-review .filter-review ul li {
  float: left;
  margin: 0 !important;
  padding: 8px 0 !important;
  width: 100% !important;
}
.rating-review .filter-review .count {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  line-height: 10px;
  color: #1c1c1c;
}
.rating-review .filter-review .count:after {
  content: '\e605'; 
  font-family: 'luma-icons';
  font-size: 23px;
  color: #f5ba00;
  font-size: 14px;
  margin-left: 3px;
}
.rating-review .filter-review .value {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  line-height: 10px;
}
.rating-review .filter-review .filter-box {
  background: #f2f2f2;
  border-radius: 2px;
  float: left;
  height: 10px;
  position: relative;
  width: 250px;
  cursor: pointer;
}
.rating-review .filter-review .filter-box .filter {
  background: #0b8643;
  border-radius: 2px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}
.rating-review .overall-ratings {
  width: 212px;
  margin: 10px auto 0;
}
.rating-review .overall-ratings li {
  width: 100% !important;
  padding: 5px 7px !important;
}
.rating-review .overall-ratings .title {
  color: #444444;
  float: left;
  font-size: 12px;
  line-height: 6px;
  margin-right: 8px;
  width: 65px;
  text-align: left;
  text-transform: capitalize;
}
.rating-review .overall-ratings .title:after {
  content: '\e605'; 
  font-family: 'luma-icons';
  color: #f5ba00;
  font-size: 14px;
  margin-left: 3px;
  float: right;
}
.rating-review .overall-ratings .filter-box {
  background-position: 0px -991px;
  float: left;
  height: 10px;
  position: relative;
  width: 123px;
}
.rating-review .overall-ratings .filter-box .filter {
  background-position: 0px -980px;
  border-radius: 2px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}
.rating-review .recommends-items {
  text-align: center;
}
.rating-review .recommends-items .dyn-rating {
  height: 117px;
  margin: 0 auto;
  width: 117px;
  padding: 52px 0 0 0;
  text-align: center;
  border-radius: 100px;
  background-position: center -1037px;
  background-size: 300px 1300px;
}

.rating-review .recommends-items .dyn-rating p {
  color: #2f2f2f;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
}
.rating-review .recommends-items .dyn-rating span {
  color: #444444;
  font-size: 11px;
  text-transform:capitalize;
}
.rating-review .recommends-items p {
  color: #1c1c1c;
  font-size: 14px;
	margin-bottom: 0;
}
.rating-review .recommends-items span {
  color: #444444;
  
  font-size: 14px;
}
.rating-review .recommends-items .action {
  margin-top: 10px;
}
.rating-review .recommends-items .yes, .rating-review .recommends-items .No {
  border-radius: 3px;
  font-size: 12px;
  padding: 6px 11px;
  text-transform:capitalize;
  margin: 0 4px;
}
.rating-review .recommends-items .yes {
  border: 1px solid #0B8643;
  text-decoration: none;
  color: #444444;
}
.rating-review .recommends-items .yes:hover {
  background: #0B8643;
  color: #fff;
}
.rating-review .recommends-items .No {
  text-decoration: none;
  border: 1px solid #c4201d;
  color: #c4201d;
}
.rating-review .recommends-items .No:hover {
  background: #c4201d;
  color: #fff;
}
.rating-review .write-review {
  text-align: center;
}
.rating-review .write-review .img-box {
  margin: 0 auto;
  width: 140px;
}
.rating-review .write-review .img-box img {
  width: 100%;
}
.rating-review .write-review p {
  color: #444444;
  font-size: 14px;
  margin-bottom: 15px;
}
.rating-review .write-review .write-review {
  background:#626166;
  border: 1px solid #626166;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  padding: 8px 40px;
  text-decoration: none;
  font-weight: 600;
}
.rating-review .write-review .write-review:hover {
  background: #2f2f2f;
  color: #fff;
}
.review-meta {
	float: left;
	width: 100%;
	margin-bottom: .5rem;
}

.reviews-list-box{
	width: 100%;
	max-width: 960px;
	margin: auto;
	clear: both;
	padding: 1rem;
	border-radius: .4rem;
}
.reviews-bg:nth-child(2n+1){
	background: #f9f9f9;
}
/* ============================================ *
 * Review - Customer
 * ============================================ */
#customer-reviews {
  width: auto;
  float: none;
	margin-bottom: 2rem;
}
#customer-reviews .review-heading {
  padding: 15px 0 0px;
  clear: both;
}
#customer-reviews .review-heading:after {
  content: '';
  display: table;
  clear: both;
}
#customer-reviews .review-heading h2 {
  float: left;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
#customer-reviews .review-heading .pager {
  clear: none;
  float: right;
  width: auto;
}
#customer-reviews .review-heading .pager .count-container .limiter {
  margin-bottom: 0;
}
#customer-reviews .review-heading .pager .count-container .limiter label {
  font-size: 10px;
  text-transform: uppercase;
}
#customer-reviews .review-heading .pager .amount {
  display: none;
}
#customer-reviews .review-heading .review_filter {
  float: left;
  margin-left: 20px;
}
#customer-reviews .review-heading .review_filter .star_ratings {
  background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0) 100%);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-right: 5px;
  float: left;
}
#customer-reviews .review-heading .review_filter .star_ratings.clear-all {
  background-color: #ededed;
  color: #1c1c1c;
}
#customer-reviews .review-heading .review_filter .star_ratings.clear-all .icon:after {
  content: "\f057";
  color: #1c1c1c;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  margin-left: 2px;
}
#customer-reviews .review-heading .review_filter .star_ratings.star-value {
  background-color: #005dbd;
}
#customer-reviews .review-heading .review_filter .star_ratings.star-value .value_filter:after {
  content: "\f057";
  color: #fff;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  margin-left: 2px;
}
#customer-reviews h2 {
  color: #444444;
  font-size: 12px;
  text-transform: capitalize;
  
}
#customer-reviews h2 span {
  color: #444444;
}
#customer-reviews h3 {
  /*font-family: $f-stack-special;
  font-size: $f-size-xs;
  font-weight: normal;
  text-transform: uppercase;*/
}
#customer-reviews h3 span {
  color: #666;
}
#customer-reviews .fieldset {
  padding-top: 25px;
  width: 470px;
}
#customer-reviews .fieldset h4 {
  border-bottom: 1px solid #e3e3e3;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 5px;
  text-transform: uppercase;
}
#customer-reviews .fieldset h4 em {
  display: none;
}
#customer-reviews .fieldset .form-list {
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0;
  text-transform: uppercase;
  width: 470px;
}
#customer-reviews .fieldset .form-list .inline-label:after {
  content: '';
  display: table;
  clear: both;
}
#customer-reviews .fieldset .form-list label {
  font-size: 12px;
  font-weight: normal;
}
#customer-reviews .fieldset .form-list textarea {
  border: 1px solid #e3e3e3;
  border-radius: 0;
  min-width: 100%;
  -webkit-appearance: none;
}
#customer-reviews .fieldset .form-list input {
  border: 1px solid #e3e3e3;
  border-radius: 0;
}
#customer-reviews .fieldset .form-list input[type="text"] {
  width: 100%;
}
#customer-reviews .buttons-set {
  border: none;
  margin: 0;
  width: 470px;
}
#customer-reviews dl {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  overflow: hidden;
}
#customer-reviews dl dt {
  clear: left;
  float: left;
  margin: 10px 0;
  width: 15%;
}
#customer-reviews dl dt .review-meta {
  color: #444444;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
}
#customer-reviews dl dt .review-meta label {
  color: #959595;
  font-size: 12px;
  margin-bottom: 10px;
}
#customer-reviews dl dd {
  font-size: 14px;
  margin: 10px 0;
  float: left;
  width: 100%;
	padding: 1rem;
}
#customer-reviews dl dd p.title {
  color: #444444;
  float: left;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
  width: 100%;
  text-decoration: none;
	line-height: 1.8rem;
}
#customer-reviews dl dd .desc {
  line-height: 24px;
  clear: both;
  width: 100%;
}
#customer-reviews dl dd .check-recommend {
  float: left;
  background-position: 0 -912px;
  background-size: 300px 1300px;
  padding-left: 20px;
  margin-right: 40px;
	text-transform: unset;
}
#customer-reviews dl dd .nocheck-recommend {
  float: left;
  background-position: 0px -877px;
  background-size: 300px 1300px;
  padding-left: 20px;
	text-transform: unset;
}
#customer-reviews dl dd .ratings-table {
  font-size: 12px;
  width: 100%;
	float: left;
	display: flex;
	flex-flow: wrap;
}
#customer-reviews dl dd .ratings-table tr {
  margin-right: 15px;
}
#customer-reviews dl dd .ratings-table .review-label {
  width: 300px;
  max-width: 70%;
}
#customer-reviews dl dd table {
  margin: 3px 0;
}
#customer-reviews dl dd .helpful-section {
  margin-top: 10px;
}
#customer-reviews dl dd .helpful-section a {
  color: #959595;
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
#customer-reviews dl dd .helpful-section a.yes:before {
  content: "\f164";
  color: #adadad;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  margin-right: 2px;
}
#customer-reviews dl dd .helpful-section a.No:before {
  content: "\f165";
  color: #adadad;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  margin-right: 2px;
}
#customer-reviews #showallreview {
	background: #f9f9f9;
  border-radius: 4px;
  color: #2f2f2f;
  float: left;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 24px 15px 15px;
  text-transform: unset;
  cursor: pointer;
  position: relative;
	width: 100%;
	text-align: center;
}
#customer-reviews #showallreview:before {
  content: "\e622";
  font-size: 12px;
  font-family: 'luma-icons';
  color: #2b3959;
  margin-right: 8px;
 font-weight: bold;
}
#customer-reviews #showallreview.reviewhide:before {
  content: "\e621";
  font-size: 12px;
  font-family: 'luma-icons';

  color: #2b3959;
  margin-right: 8px;
 font-weight: bold;
}

.review-summary-table {
  margin: 0;
  padding: 10px 0 20px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}
.review-summary-table ul {
  float: left;
  width: 25%;
  text-align: center;
}
.review-summary-table ul li {
  padding: 2px 0;
}
.review-summary-table ul li:nth-child(1) {
  color: #444444;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 0 10px;
}
.review-summary-table ul.star-box li {
  width: 90px;
  text-align: left;
  padding: 1px 0;
}
.review-summary-table ul.star-box li:nth-child(1) {
  padding: 2px 0 7px;
  text-align: left;
}
.review-summary-table ul.star-box li .rating_nobr {
  display: inline-block;
  padding: 0 0 0 2px;
  vertical-align: top;
}
.review-summary-table ul.star-box li .rating-box {
  display: inline-block;
  vertical-align: top;
}
.review-summary-table .rating-box .rating-number {
  display: none;
}
.review-summary-table .rating-box .rating-number:after {
  content: "";
  display: inline-block;
  background-position: 0px -599px;
  width: 13px;
  height: 14px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* ============================================ *
 * Ratings - Global
 * ============================================ */
.ratings-table {
  font-size: 14px;
  text-transform: capitalize;
}
.ratings-table th {
  color: #444444;
  
  font-size: 12px;
	padding-right:10px;
  text-transform: capitalize;
	
	
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
	padding:3px 10px;
}



.title-box{
	display: grid;
}
.overall-box{
	margin-bottom: .8rem;
	margin-top: 2px;
}

.title-box .rating-box, .overall-box .rating-box {
    background-repeat: repeat-x;
  background-position: 204px -302px;
  background-size: 300px 1300px;
  height: 18px;
  overflow: hidden;
  text-indent: -9999px;
  width: 9.3rem;
  margin: auto;
}

.title-box .rating-box .rating, .overall-box  .rating-box .rating {
  background-repeat: repeat-x;
  background-position: 204px -280px;
  background-size: 300px 1300px;
  float: left;
  height: 18px;
  text-indent: -9999px;
}

.ratings-table .rating-box {
  background-repeat: repeat-x;
  background-position: 0 -302px;
  background-size: 300px 1300px;
  height: 17px;
  overflow: hidden;
  text-indent: -9999px;
  width: 8.5rem;
  margin: 0 1rem;
}
.title-box .rating-box{
	margin: 0 1rem 0 0;
}
.title-box td{
	padding: 3px 0;
}
.ratings-table .rating-box .rating {
  background-repeat: repeat-x;
  background-position: 0 -283px;
  background-size: 300px 1300px;
  float: left;
  height: 17px;
  text-indent: -9999px;
}

@media only screen and (max-width: 770px) {
  body.review-product-list .product-view .product-shop .price-info {
    padding-left: 0;
  }
  body.review-product-list .product-view .product-shop .extra-info {
    padding: 0;
    min-width: 84%;
  }
  body.review-product-list .product-view .product-shop .extra-info .ratings-table {
    margin: 10px 0;
    width: 100%;
  }
  body.review-product-list .product-view .product-shop .extra-info .ratings-table tr {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 535px) {
  body.review-product-list .product-view .product-shop .extra-info {
    min-width: 0;
  }
  body.review-product-list .product-view .product-shop .extra-info .ratings-table tr {
    float: none;
    margin-right: 0;
  }
}
@media only screen and (max-width: 520px) {
  #customer-reviews .fieldset {
    width: 100%;
  }
  #customer-reviews .fieldset .form-list {
    width: 100%;
  }
  #customer-reviews .fieldset .form-list .inline-label label,
  #customer-reviews .fieldset .form-list .inline-label .input-box {
    float: none;
  }
  #customer-reviews .buttons-set {
    width: 100%;
  }
  #customer-reviews .review-summary-table thead th {
    padding-left: 0px;
    padding-right: 0px;
  }
  #customer-reviews .review-summary-table tbody th {
    padding-left: 0px;
    padding-right: 0px;
  }
  #customer-reviews .review-summary-table tbody td {
    width: 20%;
    padding: 0px;
  }
  #customer-reviews .review-summary-table .rating-box {
    text-indent: 0px;
    text-align: center;
    background: none;
    height: 19.6px;
    width: 100%;
  }
  #customer-reviews .review-summary-table .rating-box .rating {
    display: none;
  }
  #customer-reviews .review-summary-table .rating-box .rating-number {
    display: inline-block;
  }
}
@media only screen and (max-width: 450px) {
  #customer-reviews dl dd .ratings-table tr {
    float: none;
  }
}
/* ============================================ *
 * Review View Page
 * ============================================ */
.review-product-view .product-review .product-details h2 {
  border-bottom: none;
}
.review-product-view .product-review .product-img-box {
  width: auto;
  max-width: 50%;
}
.review-product-view .product-review .product-img-box > a {
  width: 100%;
}
.review-product-view .product-review .product-img-box .product-image {
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .review-product-view .product-review .product-img-box {
    max-width: 100%;
  }
}
#inline1 {
  width: 520px;
  padding: 10px 15px;
}

.form-add h2 {
  color: #686868;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

#review-form h3 {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  text-transform: capitalize;
  line-height: 26px;
}
#review-form h4 {
  color: #444444;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 20px 0;
}
#review-form .req-fields {
  color: #d42809;
  font-size: 12px;
}
#review-form .buttons-set button.button {
  float: left;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
}
#review-form .form-list {
  clear: both;
}
#review-form ul.form-list .inline-label .custom-select select {
  margin: 0;
}
#review-form .recommend_radio {
  padding-top: 5px;
}
#review-form .recommend_radio label {
  background: #e2e2e2;
  border-radius: 3px;
  margin-right: 5px;
  padding: 5px 15px 5px 10px;
}
#review-form .recommend_radio label input {
  margin-right: 3px;
}
#review-form textarea:focus {
  border: 1px solid #f68026;
}

@media only screen and (max-width: 1099px) {
	  #customer-reviews .review-heading {
		padding: 15px 6px 8px;
		  text-align: center;
	  }
	  #customer-reviews dl {
		padding: 0px;
	  }
	 .rating-review .rating-section ul li:nth-child(1) {
		margin-right: 20px;
	 }
	  .rating-review .rating-section ul li:nth-child(4) {
		width: 20%;
	 }
}


@media only screen and (max-width: 1100px) {

  .rating-review .rating-section ul li:nth-child(2) {
	text-align: center;
	padding-top: 40px;
	width: 32%;
  }
	  .rating-review .rating-section ul li:nth-child(4) {
	width: 19%;
  }
}

@media only screen and (max-width: 991px) {
  #customer-reviews dl dt {
    width: 20%;
    margin: 10px 10px 0 0;
  }
  #customer-reviews dl dd {
    width: 100%;
	  display: grid;
  }
  #customer-reviews dl dd .nocheck-recommend,
  #customer-reviews dl dd .check-recommend {
    float: right;
    margin-bottom: 2px;
    margin-top: 4px;
	  order: 3;
  }
  #customer-reviews dl dd .desc {
    width: 100%;
	  order: 2
  }
  #customer-reviews #dl_review .title {
    width: auto;
  }
  #customer-reviews #dl_review .nocheck-recommend {
    float: right;
  }
  .rating-review .rating-section ul li:nth-child(1) {
	margin-right: 0;
	width: 50%;
  }
  .rating-review .rating-section ul li:nth-child(2) {
	text-align: center;
	padding-top: 40px;
	width: 50%;
  }
  .rating-review .rating-section ul li:nth-child(3) {
	width: 52%;
  }
  .rating-review .rating-section ul li:nth-child(4) {
	width: 40%;
  }
}

@media only screen and (max-width: 767px) {
	
  #customer-reviews dl dd .nocheck-recommend,
  #customer-reviews dl dd .check-recommend {
    float: left;
    clear: both;
  }
	
  #customer-reviews dl dt {
    width: 24%;
  }
  #customer-reviews dl dd {
    width: 100%;
  }
  #customer-reviews dl dd .desc {
    width: 100%;
  }
  #customer-reviews #dl_review .title {
    width: 100%;
  }
  #customer-reviews #dl_review .nocheck-recommend {
    float: left;
  }

  .form-add h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .form-add h3 {
    font-size: 18px;
  }
  #customer-reviews dl {
    padding: 5px;
  }
  .reviews-list-box{
	padding: 0;
  }
	#customer-reviews .rating-section .filter-review ul{
		max-width: 310px;
		margin: auto;
	}
}
@media only screen and (max-width: 639px) {
	  .rating-review .rating-section ul li:nth-child(1) {
		margin-right: 0;
		width: 100%;
	  }
	  .rating-review .rating-section ul li:nth-child(2) {
		display: none;
	  }
	  .rating-review .rating-section  ul li:nth-child(3) {
		display: none;
	  }
	  .rating-review .rating-section .overall-ratings ul li:nth-child(2) {
		display: block;
	  }
	  .rating-review .rating-section .overall-ratings ul li:nth-child(3) {
		display: block;
	  }
	
	
	  .rating-review .rating-section ul li:nth-child(4) {
		width: 100%;
		  margin-top: 1rem;
		  margin-bottom: 1rem;
		}
	.rating-review .rating-section .write-review br{
		display: none;
	}
	#customer-reviews dl dd .ratings-table label{
		width: 4.2rem;
		text-transform: capitalize;
	}
	#customer-reviews .review-heading{
		padding-bottom: 0;
	}
	#customer-reviews .review-heading h2{
		float: none;
		margin-bottom: 0;
	}
	.title-box td{
		width: 100%;
		float: left;
	}
	#customer-reviews{
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 599px) {
  #inline1 {
    width: 250px;
    padding: 0;
  }
  #inline1 h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
  }
  #inline1 h3 {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 8px 0;
  }

  .review-summary-table {
    width: 260px;
  }
}
@media only screen and (max-width: 480px) {
  #customer-reviews dl dt {
    width: 100%;
  }
  #customer-reviews dl dd {
    width: 100%;
  }
  #customer-reviews dl dd .ratings-table{
	max-width: 30rem;
  }
}

