<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_add_item">
        <observer name="preorder_add_item" instance="Homescapes\Preorder\Observer\addQuoteItem" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="preorder_remove_item" instance="Homescapes\Preorder\Observer\removeQuoteItem" />
    </event>
    <event name="sales_quote_item_set_product">
        <observer name="preorder_set_product_name" instance="Homescapes\Preorder\Observer\setProductName" />
    </event>
    <event name="sales_order_save_before">
        <observer name="preorder_save_orderdata" instance="Homescapes\Preorder\Observer\preorderDataSave" />
    </event>
</config>
