.config-nav-block.amasty-tab strong:before {
    background: url(../images/logo.png) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.admin__menu [data-ui-id^="menu-amasty-"] .submenu-group-title span:before,
.admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-amasty-"] span:before {
    background: url(../images/logo-menu.png) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

#amasty_base_extensions table td.value,
#amasty_base_information table td.value {
    vertical-align: bottom;
}

.ambase-grid-message {
    padding-left: 58px;
    min-height: 53px;
    background: url(../images/logo_m_table.png) no-repeat;
}

.ambase-grid-message.amasty-grid-logo {
    background: url(../images/logo_table.png) no-repeat;
}

.admin__action-dropdown-menu .notifications-entry:not(.notifications-entry-last) {
    padding-left: 37px;
    background: url(../images/logo_m_popup.png) no-repeat 5px 7px;
}

.admin__action-dropdown-menu .notifications-entry[data-ambase-logo="1"] {
    background: url(../images/logo_popup.png) no-repeat 5px 7px;
}

