* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/*tooltip & product,cart btn start*/


/*product detial section start*/

.tooltip-logo { width: 100%; margin-top: 10px; float: left; font-family: arial; }
.tooltip-logo .tool-tip-postion-right { position: relative; float: right; }
.tooltip-logo .tool-tip-postion-left { position: relative; float: left; }
.tooltip-logo span.tooltip-db { background: #fff none repeat scroll 0 0; border: 1px solid; border-radius: 5px; margin-top: 15px; padding: 10px 5px 5px 5px; position: absolute; z-index: 10; cursor: auto; }
.tooltip-logo .hover-instalment.instalment-5 { background: transparent none repeat scroll 0 0; border: medium none; }
.tooltip-logo .tooltip-logo-right, .tooltip-logo-cart .tooltip-logo-right { float: right; width: 100px; padding-top: 10px; }
.tooltip-logo .tooltip-db, .tooltip-logo-cart .tooltip-db {right: 0; width: 350px; background: #fff none repeat scroll 0 0; border-radius: 5px; position: absolute; z-index: 99; }
.tooltip-logo .tooltip-db-1, .tooltip-logo-cart .tooltip-db-1 { float: left; padding: 10px 5px 5px 5px; border: 1px solid; border-radius: 5px; }
.tooltip-logo .tooltip-logo-right, .tooltip-logo-right .tooltip-logo-right { float: right; width: 100px; padding-top: 10px; }
.tooltip-logo .tooltip-width {  }
.tooltip-logo .hover-instalment, .tooltip-logo-cart .hover-instalment { background: #f5f9fd none repeat scroll 0 0; border: 1px solid #7f7f73; border-radius: 25px; float: left; font-size: 13px; margin-bottom: 3px; padding: 8px 0; text-align: center; width: 100%; }
.tooltip-logo .highlights-instalments, .tooltip-logo .monthly-instalments, .tooltip-logo .highlights-amt, .tooltip-logo-cart .highlights-instalments, .tooltip-logo-cart .monthly-instalments, .tooltip-logo-cart .highlights-amt { display: inline; }
.tooltip-logo .highlights-instalments, .tooltip-logo .highlights-amt, .tooltip-logo-cart .highlights-instalments, .tooltip-logo-cart .highlights-amt { font-weight: 500; }
.tooltip-logo .hover-image, .tooltip-logo-cart .hover-image { width: 320px; text-align: center; float: left; margin-bottom: 10px; margin-top: 5px; }
.tooltip-logo .highlights-instalments-text, .tooltip-logo-cart .highlights-instalments-text { padding: 8px; font-size: 12px; line-height: 20px; }
.hover-disable { cursor: no-drop; opacity: 0.5; }
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/*product detail section end*/


/*cart section start*/

.tooltip-logo-cart { width: 100%; float: left; font-family: arial; }
.slip_tooltip_container { position: absolute; max-width: 315px; width: 100%; box-shadow: none; border: 2px solid #106d96 !important; border-radius: 8px; z-index: 99; padding: 10px 10px 10px 10px; background: #fff; box-sizing: border-box; }
.slip_tooltip_content { font-size: 13px; text-align: left; font-family: 'lato', sans-serif; width: auto; line-height: 20px; color: #76726d; }
.tooltip-box .blue { color: #106d96; font-weight: 500; }
.tooltip-box .grey { color: #76726d; font-weight: 500; }
.ui-tooltip { border-radius: 8px !important; }
.tooltip-logo-cart .hover-instalment.instalment-5 { background: transparent none repeat scroll 0 0; border: medium none; }
/*cart section end*/


/*tooltip product,cart btn end*/


/*or divider css start*/

.or-divider-prifix, .or-divider-sufix { color: #000000; cursor: auto; float: left; font-size: 16px; font-weight: normal; text-align: center; width: 100%; }
/*or divider css end*/


/*common css*/
.modal-login-form { text-align: left }
.pull-right { float: right; }
.pull-left { float: left; }
a:focus, a:hover, img, img:focus, img:hover, button, button:focus, button:hover { outline: none !important; text-decoration: none !important; }
.custom-modal button, .custom-modal input, .custom-modal select, .custom-modal textarea { font-family: arial; }
.relative { position: relative; }
.custom-modal .modal-content input[type="text"], .custom-modal .modal-content input[type="email"], .custom-modal .modal-content input[type="tel"], .custom-modal .modal-content input[type="number"], .custom-modal .modal-content input[type="url"], .custom-modal .modal-content input[type="password"], .custom-modal .modal-content textarea { line-height: 1.4; padding: 3px 10px; font-size: 14px; font-weight: 400; outline: none; background: transparent; border: 1px solid #7f807c; font-family: arial; border-radius: 3px; }
.custom-modal .btn-blue, input[type="submit"].btn-blue { font-family: comfortaa; background: rgb(62, 108, 163); /* Old browsers */ background: -moz-linear-gradient(top, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%);     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3e6ca3', endColorstr='#3e8ede', GradientType=0);
/* IE6-9 */
color: #ffffff; display: inline-block; font-size: 14px; font-weight: 400; min-width: 80px; padding: 3px 10px; text-align: center; border-radius: 100px; border: medium none; margin-bottom: 15px; line-height: 1.4; }
.custom-modal .btn-blue.focus, .custom-modal .btn-blue:focus, .custom-modal .btn-blue:hover { text-decoration: none; outline: none; background: #4891ce !important; color: #fff !important; }
.custom-modal .btn-grey, input[type="submit"].btn-grey { background: -webkit-linear-gradient(top, rgb(167, 168, 162) 0%, rgb(96, 97, 89) 3%, rgb(127, 127, 115) 87%, rgb(127, 127, 117) 97%); background: -o-linear-gradient(top, rgb(167, 168, 162) 0%, rgb(96, 97, 89) 3%, rgb(127, 127, 115) 87%, rgb(127, 127, 117) 97%); background: -ms-linear-gradient(top, rgb(167, 168, 162) 0%, rgb(96, 97, 89) 3%, rgb(127, 127, 115) 87%, rgb(127, 127, 117) 97%); background: -moz-linear-gradient(top, rgb(167, 168, 162) 0%, rgb(96, 97, 89) 3%, rgb(127, 127, 115) 87%, rgb(127, 127, 117) 97%); background: linear-gradient(to bottom, rgb(167, 168, 162) 0%, rgb(96, 97, 89) 3%, rgb(127, 127, 115) 87%, rgb(127, 127, 117) 97%); /* IE6-9 */ color: #ffffff; display: inline-block; font-size: 14px; font-weight: 400; min-width: 80px; padding: 3px 10px; text-align: center; border-radius: 100px !important; border: medium none; margin-bottom: 25px; line-height: 1.4; border: 0; box-shadow: none; }
.btn-grey.focus, .btn-grey:focus, .btn-grey:hover, input[type="submit"].btn-grey.focus, input[type="submit"].btn-grey:focus, input[type="submit"].btn-grey:hover { text-decoration: none; outline: none; background: #7e8074 !important; color: #fff !important; }

/*GDPR*/
 .custom-modal .btn-lightgrey,  input[type="submit"].btn-lightgrey { background: -webkit-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -o-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -ms-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -moz-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: linear-gradient(to bottom, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); /* IE6-9 */
color: #ffffff; display: inline-block; font-size: 14px; font-weight: 400; min-width: 80px; padding: 3px 10px; text-align: center; border-radius: 100px !important; border: medium none; margin-bottom: 25px; line-height: 1.4; border: 0; box-shadow: none; height: auto; text-transform: none; min-height: auto; cursor: pointer; text-decoration: none; }
.btn-lightgrey.focus,  .btn-lightgrey:focus,  .btn-lightgrey:hover,  input[type="submit"].btn-lightgrey.focus,  input[type="submit"].btn-lightgrey:focus,  input[type="submit"].btn-lightgrey:hover { text-decoration: none; outline: none; background: rgb(153, 152, 143) !important; color: #fff !important; transition: none; }
.continue-text { font-size: 12px; margin-bottom: 15px; color: #7f7f73; }
.continue-text a{ font-weight:normal}
.action-link { position: absolute; bottom: 14px; text-align: center; margin: 0px auto; right: 0; left: 0; font-size: 12px; }
.action-link a, .action-link a:hover, .action-link a:focus, .action-link a:active { color: #3E8EDE !important; font-weight: normal }

 /*GDPR*/

button[type="button"]:focus { outline: none; }
.blue-text { color: #3E8EDE !important; }
.mrg-0 { margin: 0 !important; line-height: normal; }
.mrg-t-15 { margin-top: 15px; }
.mrg-b-15 { margin-bottom: 15px; }
.pad-0 { padding: 0 !important; }
.text-grey { color: #8f9185; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.green-text { color: #05CE7C; }
.clearfix { display: block; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.modal-backdrop { background-color: #DCDCDC !important; }
label { font-weight: 500; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; color: #7F7F73; }
.nowrap { white-space: nowrap; }
.custom-modal .modal-content fieldset, .custom-modal .modal-content form { margin: 0; }
.dnone { display: none }
.dblock { display: block }
.cursor-pointer{ cursor: pointer;}

/*modal css*/

.custom-modal { font-family: arial; line-height: 1.4; }
.custom-modal .logo-img img { width: auto; max-height: 100%; }
.custom-modal .logo-img { max-width: 200px; height: 50px; margin-bottom: 30px; float: left; display: block; }
.custom-modal .modal-body { padding: 0 30px 30px; }
.custom-modal .logo-text { font-size: 10px; font-weight: normal; font-family: arial; margin-bottom: 15px; clear: both; }
.custom-modal .login-message { font-size: 12px; font-family: arial; }
.custom-modal .logo-text { color: #7f7f73; float: left; font-family: arial; font-weight: normal; line-height: 20px; margin-bottom: 5px; }
.custom-modal .checkout-titile { color: #7f7f73; font-size: 13px; margin-bottom: 10px; font-weight: 500; line-height: 1.4; text-decoration: none; text-transform: none; font-family: arial; width: 60%; margin-top: 0 }
.custom-modal .modal-heading-title { font-size: 13px; font-weight: 500; color: #7f7f73; text-decoration: none; line-height: 1.4; text-decoration: none; text-transform: none; font-family: arial; width: 60%; }
.custom-modal .modal-heading-title-small { font-size: 10px; line-height: 1.4; color: #7f7f73; font-family: arial; }
.custom-modal .modal-heading { margin-bottom: 9px; }
.custom-modal .custom-label { color: #7f7f73; font-size: 14px; line-height: 1.4; font-family: arial; font-weight: normal; white-space: nowrap; margin-bottom: 5px; display: inline-block }
.custom-modal .mandatory_field { color: #ff0000; font-size: 10px; padding-top: 5px; padding-bottom: 10px; }
.custom-modal .validation-advice { color: #ff0000; float: left; font-size: 10px; line-height: 1.4; padding-top: 5px; padding-bottom: 10px; margin: 0; }
.custom-modal .modal-content { border-radius: 3px; border: 2px solid #3E8EDE !important; padding: 0; }
.custom-modal .modal-header { padding: 3px; border-bottom: none; }
.custom-modal .shipping_code_form { float: left; width: 100%; margin-bottom: 10px; }
.custom-modal .ship-estimation { margin-bottom: 0; margin-top: 4px; }
.custom-modal .shipping_code_form input.required-entry { width: 59%; margin-right: 10px; }
.custom-modal .shipping_note strong { font-size: 12px; font-weight: normal; font-family: comfortaa; }
.custom-modal .shipping_note { float: left; font-family: comfortaa; font-size: 14px; margin-bottom: 15px; }
.custom-modal .modal-content input[type="radio"] { vertical-align: top; margin-top: 2px; margin-right: 7px; }
.custom-modal .method-points { padding-bottom: 5px; float: left; width: 100%; font-size: 12px; font-family: arial; font-weight: normal; }
.custom-modal .shipping-m-title { font-size: 16px; font-weight: 500; text-transform: none; line-height: 1.4; margin-bottom: 10px; font-family: comfortaa; }
.custom-modal input.btn-checkout-modal { background: rgba(0, 0, 0, 0) url(../images/dividebuy-checkout-img.png) no-repeat scroll 0 0 / 100% auto !important; border: medium none; float: right; font-size: 0; height: 48px; width: 182px; box-shadow: none; outline: 0 !important; }
.custom-modal .cart-heading, .custom-modal .grand-total { font-size: 14px; margin-bottom: 15px; font-weight: 500; font-family: comfortaa; }
.custom-modal .pro-name { word-wrap: break-word; font-weight: normal; color: #7F7F73; font-size: 12px; font-family: comfortaa; }
.custom-modal .side-content p { line-height: 18px; font-size: 12px; font-weight: normal; color: #7F7F73; margin-bottom: 10px; font-family: comfortaa; }
.custom-modal .text-details { margin: 50px 0 20px 0; font-size: 14px; font-family: comfortaa;color: #7F7F73;  }
.custom-modal .modal-content-area .price { color: #3E8EDE; font-size: 12px; }
.custom-modal .modal-header .close { background: rgba(0, 0, 0, 0) url(../images/closebtn.png) no-repeat scroll 0 0 !important; opacity: 1; width: 25px; height: 25px; margin-top: 3px; margin-right: 3px; text-shadow: none; float: right; border: 0; box-shadow: none; text-indent: -99999px; }
.custom-modal .form-control:focus { border-color: #3E8EDE !important; }
.custom-modal .form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); }
.custom-modal .datas { margin-left: 0; padding-left: 0 }
.custom-modal .cs-scroll { max-height: 250px; }
.custom-modal a:focus#divide-buy-modal { outline: 0; }
.custom-modal .wrap-h { display: table; width: 100%; }
.custom-modal .left-h { display: table-cell; padding-right: 15px; width: 100% }
.custom-modal .right-h { display: table-cell; vertical-align: middle; }
.custom-modal .left-h .mCSB_scrollTools { right: 25px; }
.custom-modal .custom-login { width: 100%; float: left; }
.custom-modal .form-control { height: 34px !important; width: 100%; }
.custom-modal .shopping-scroll { height: 150px; }
.custom-modal .grand-total .price { font-family: arial; }
.custom-modal .ship-text { margin-left: 20px }
.custom-modal .ship-radio { float: left; }
.custom-modal .shipping-m-title-1 { line-height: 1.4; margin-bottom: 10px; float: left; color: #7f7f73; font-family: comfortaa; }
.custom-modal .price { font-family: comfortaa; color: #7f7f73; font-size: 14px; }
.custom-modal .shipping-error { color: red; font-size: 10px; }
.custom-modal .option-note { font-weight: 500; font-family: comfortaa; font-size: 16px; margin-bottom: 10px; }
.custom-modal .modal-content { position: relative; background-color: #fff; border: 1px solid #999; border: 1px solid rgba(0,0,0,0.2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5); box-shadow: 0 3px 9px rgba(0,0,0,0.5); background-clip: padding-box; }
.modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer { border: 0; text-align: left; overflow: hidden; }
.modal-popup .modal-footer { text-align: left }
.custom-modal .form-group { margin-bottom: 15px; }
.custom-modal .modal-inner-wrap { background: none }
.custom-modal .img-thumbnail { display: inline-block; height: auto; max-width: 100%; padding: 4px; line-height: 1.428571429; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.custom-modal .img-responsive { display: block; height: auto; max-width: 100%; }
.modal-content-area {
    padding-left: 10px;
}
/*custom modal css end*/

/*custom radio button*/

.custom-modal .control-group { display: inline-block; vertical-align: top; background: #fff; text-align: left; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); padding: 30px; width: 200px; height: 210px; margin: 10px; }
.custom-modal .control { display: block; position: relative; padding-left: 25px; /* margin-bottom: 15px; */ cursor: pointer; font-size: 14px; color: #7f7f73; font-weight: normal; font-family: comfortaa; }
.custom-modal .control input { position: absolute; z-index: -1; opacity: 0; }
.custom-modal .control__indicator { position: absolute; top: 2px; left: 0; height: 14px; width: 14px; background: transparent; border: solid 1px; }
.custom-modal .control--radio .control__indicator { border-radius: 50%; }
/*.custom-modal .control:hover input ~ .control__indicator,
.custom-modal .control input:focus ~ .control__indicator {
    background: #ccc;
}*/

.custom-modal .control input:checked ~ .control__indicator { background: #3E8EDE; border: solid 1px #3E8EDE; }
.custom-modal .control:hover input:not([disabled]):checked ~ .control__indicator, .custom-modal .control input:checked:focus ~ .control__indicator { background: #3E8EDE; border: solid 1px #3E8EDE; }
.custom-modal .control input:disabled ~ .control__indicator { background: #e6e6e6; opacity: 0.6; pointer-events: none; }
.custom-modal .control__indicator:after { content: ''; position: absolute; display: none; }
.custom-modal .control input:checked ~ .control__indicator:after { display: block; }
.custom-modal .control--checkbox .control__indicator:after { left: 8px; top: 4px; width: 3px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg); }
.custom-modal .control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }
.custom-modal .control--radio .control__indicator:after { width: 4px; border-radius: inherit; background: #fff; height: 4px; left: 4px; top: 4px; }
.custom-modal .method-price { color: #7f7f73; }
.custom-modal .control--radio input:disabled ~ .control__indicator:after { background: #7b7b7b; }
.custom-modal .select { position: relative; display: inline-block; margin-bottom: 15px; width: 100%; }
.custom-modal .select select { display: inline-block; width: 100%; cursor: pointer; padding: 10px 15px; outline: 0; border: 0; border-radius: 0; background: #e6e6e6; color: #7b7b7b; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
.custom-modal .select select::-ms-expand {
 display: none;
}
.custom-modal .select select:hover, .custom-modal .select select:focus { color: #000; background: #ccc; }
.custom-modal .select select:disabled { opacity: 0.5; pointer-events: none; }
.custom-modal .select__arrow { position: absolute; top: 16px; right: 15px; width: 0; height: 0; pointer-events: none; border-style: solid; border-width: 8px 5px 0 5px; border-color: #7b7b7b transparent transparent transparent; }
.custom-modal .select select:hover ~ .select__arrow, .custom-modal .select select:focus ~ .select__arrow { border-top-color: #000; }
.custom-modal .select select:disabled ~ .select__arrow { border-top-color: #ccc; }
.custom-modal .product-image-1 { width: 100px; }
.custom-modal .shipping_information { }
.custom-modal .shipping_information .custom-label { font-family: comfortaa; }
/*custom radio button end*/



/*loader css start*/

#loader { background: rgba(0, 0, 0, 0) url("../images/loader.gif") no-repeat scroll 0 0 / 75% auto; height: 197px; left: 50%; margin: -75px 0 0 -75px; position: absolute; top: 50%; width: 170px; z-index: 1; }
.loader-set { background: rgba(220, 220, 220, 0.8) none repeat scroll 0 0; bottom: 0; display: block; float: left; height: 100%; left: 0; position: fixed; right: 0; top: 0; width: 100%; display: none; z-index: 999; overflow-y: hidden; }
/*loader css end*/


/*other css*/

#dividebuy_text { display: none; position: absolute; width: 350px; padding: 10px; background: #eeeeee; color: #000000; border: 1px solid #1a1a1a; font-size: 90%; }
#dividebuy_checkout_button { background: transparent !important; }
#submit_dividebuy_checkout { background: url(../images/dividebuy-checkout.png); height: 70px; width: 240px; background-repeat: no-repeat; box-shadow: none; }
span.span_imgchange img.buttonImage { display: inline-block; float: none; }
span.span_imgchange a:hover { text-decoration: none !important; }
.modal-image { float: left; display: block; width: auto; height: 100%; }
.modal-image-area { float: left; width: 75px; height: 75px; }
.modal-content-area { padding-left: 10px; }
.shoppingcartTable ul { list-style: none; }
.custom-modal .datas li { margin-bottom: 10px; min-height: 70px; }
.estimate-page input { vertical-align: bottom; }
.custom-modal .estimate-page-area .btn-blue { border-radius: 100px; border-color: #4891ce; }
.or-class { text-align: center; float: left; width: 100%; }
.side-content span.blue-text { display: block; }
#myDiv { display: none; text-align: center; }
.estimate-modal .modal-content .modal-body { min-height: 360px; }
.shipping_information span.option-note { display: block; text-align: center; }
.label-divide { -moz-user-select: none; display: inline-block; /* font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif; */ font-size: 13px; font-weight: 500; margin-right: 10px; }
.product-image-1 { width: 100px; }
.product-image-1 img { width: 100%; }
.shipping_code_form div.validation-advice { margin-left: 123px; }
.small-db-loader { background: rgba(0, 0, 0, 0) url(../images/loader.gif) no-repeat scroll 0 0 / 100% auto !important; height: 100px; width: 84px; text-align: center; margin: 0px auto; left: 50%; /*transform: translateX(-50%);*/ margin-top: 2px; min-height: 156px; }
.checkout-shipping-address legend { border-bottom: 0; }
/* Add animation to "page content" */

.animate-bottom { position: relative; -webkit-animation-name: animatebottom; -webkit-animation-duration: 1s; animation-name: animatebottom; animation-duration: 1s }
 @-webkit-keyframes animatebottom { from {
 bottom: -100px;
 opacity: 0
}
to { bottom: 0px; opacity: 1 }
}
 @keyframes animatebottom { from {
 bottom: -100px;
 opacity: 0
}
to { bottom: 0; opacity: 1 }
}
/*other css*/

.mCS_no_scrollbar .mCSB_scrollTools { display: block !important }
.mCS_no_scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { display: none }
.shipping_methods_list { margin-bottom: 10px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right: 30px; }
/*Don't use every CSS*/
.page-header { border: 0; margin: 0; padding: 0; }
.page-header .panel { background: none; margin: 0; border: 0; box-shadow: none; }
.block.newsletter .action.subscribe { line-height: 1.1; padding-bottom: 8px; }
.label { display: inline; padding: 0; font-weight: 500; line-height: 1; color: inherit; text-align: left; white-space: nowrap; vertical-align: baseline; border-radius: .25em; font-size: inherit; }
.cart-summary .block .item-options .field .radio { float: left; margin-top: 0; margin-right: 8px; vertical-align: middle; }
.mark, mark { background: none }
.action.apply { line-height: 1.1; padding-bottom: 8px; }
.page-layout-checkout .modal-content { box-shadow: none; border: 0; }
.page-layout-checkout .modal-header { padding: 0; border: 0 }
.opc-block-summary > .title { font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.page-layout-checkout { font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.page-layout-checkout .table-checkout-shipping-method thead th { display: none }
.page-layout-checkout .payment-method-title input[type=checkbox], .page-layout-checkout .payment-method-title input[type=radio] { display: inline-block }
.cart.table-wrapper .actions-toolbar { height: 32px; }

/*Don't use every CSS END*/

/*hover tooltip*/
/*Grid*/
@media(min-width:768px) {
.row { margin-right: -15px; margin-left: -15px; }
.db-row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 { float: left }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.db-row {
    margin-left: -15px;
    margin-right: -15px;
}
.custom-modal .col-lg-1, .custom-modal .col-lg-10, .custom-modal .col-lg-11, .custom-modal .col-lg-12, .custom-modal .col-lg-2, .custom-modal .col-lg-3, .custom-modal .col-lg-4, .custom-modal .col-lg-5, .custom-modal .col-lg-6, .custom-modal .col-lg-7, .custom-modal .col-lg-8, .custom-modal .col-lg-9, .custom-modal .col-md-1, .custom-modal .col-md-10, .custom-modal .col-md-11, .custom-modal .col-md-12, .custom-modal .col-md-2, .custom-modal .col-md-3, .custom-modal .col-md-4, .custom-modal .col-md-5, .custom-modal .col-md-6, .custom-modal .col-md-7, .custom-modal .col-md-8, .custom-modal .col-md-9, .custom-modal .col-sm-1, .custom-modal .col-sm-10, .custom-modal .col-sm-11, .custom-modal .col-sm-12, .custom-modal .col-sm-2, .custom-modal .col-sm-3, .custom-modal .col-sm-4, .custom-modal .col-sm-5, .custom-modal .col-sm-6, .custom-modal .col-sm-7, .custom-modal .col-sm-8, .custom-modal .col-sm-9, .custom-modal .col-xs-1, .custom-modal .col-xs-10, .custom-modal .col-xs-11, .custom-modal .col-xs-12, .custom-modal .col-xs-2, .custom-modal .col-xs-3, .custom-modal .col-xs-4, .custom-modal .col-xs-5, .custom-modal .col-xs-6, .custom-modal .col-xs-7, .custom-modal .col-xs-8, .custom-modal .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.custom-modal .col-sm-1 {
    width: 8.33333%;
}
.custom-modal .col-sm-2 {
    width: 16.6667%;
}
.custom-modal .col-sm-3 {
    width: 25%;
}
.custom-modal .col-sm-4 {
    width: 33.3333%;
}
.custom-modal .col-sm-5 {
    width: 41.6667%;
}
.custom-modal .col-sm-6 {
    width: 50%;
}
.custom-modal .col-sm-7 {
    width: 58.3333%;
}
.custom-modal .col-sm-8 {
    width: 66.6667%;
}
.custom-modal .col-sm-9 {
    width: 75%;
}
.custom-modal .col-sm-10 {
    width: 83.3333%;
}
.custom-modal .col-sm-11 {
    width: 91.6667%;
}
.custom-modal .col-sm-12 {
    width: 100%;
}
.custom-modal .col-sm-push-1 {
    left: 8.33333%;
}
.custom-modal .col-sm-push-2 {
    left: 16.6667%;
}
.custom-modal .col-sm-push-3 {
    left: 25%;
}
.custom-modal .col-sm-push-4 {
    left: 33.3333%;
}
.custom-modal .col-sm-push-5 {
    left: 41.6667%;
}
.custom-modal .col-sm-push-6 {
    left: 50%;
}
.custom-modal .col-sm-push-7 {
    left: 58.3333%;
}
.custom-modal .col-sm-push-8 {
    left: 66.6667%;
}
.custom-modal .col-sm-push-9 {
    left: 75%;
}
.custom-modal .col-sm-push-10 {
    left: 83.3333%;
}
.custom-modal .col-sm-push-11 {
    left: 91.6667%;
}
.custom-modal .col-sm-pull-1 {
    right: 8.33333%;
}
.custom-modal .col-sm-pull-2 {
    right: 16.6667%;
}
.custom-modal .col-sm-pull-3 {
    right: 25%;
}
.custom-modal .col-sm-pull-4 {
    right: 33.3333%;
}
.custom-modal .col-sm-pull-5 {
    right: 41.6667%;
}
.custom-modal .col-sm-pull-6 {
    right: 50%;
}
.custom-modal .col-sm-pull-7 {
    right: 58.3333%;
}
.custom-modal .col-sm-pull-8 {
    right: 66.6667%;
}
.custom-modal .col-sm-pull-9 {
    right: 75%;
}
.custom-modal .col-sm-pull-10 {
    right: 83.3333%;
}
.custom-modal .col-sm-pull-11 {
    right: 91.6667%;
}
.custom-modal .col-sm-offset-1 {
    margin-left: 8.33333%;
}
.custom-modal .col-sm-offset-2 {
    margin-left: 16.6667%;
}
.custom-modal .col-sm-offset-3 {
    margin-left: 25%;
}
.custom-modal .col-sm-offset-4 {
    margin-left: 33.3333%;
}
.custom-modal .col-sm-offset-5 {
    margin-left: 41.6667%;
}
.custom-modal .col-sm-offset-6 {
    margin-left: 50%;
}
.custom-modal .col-sm-offset-7 {
    margin-left: 58.3333%;
}
.custom-modal .col-sm-offset-8 {
    margin-left: 66.6667%;
}
.custom-modal .col-sm-offset-9 {
    margin-left: 75%;
}
.custom-modal .col-sm-offset-10 {
    margin-left: 83.3333%;
}
.custom-modal .col-sm-offset-11 {
    margin-left: 91.6667%;
}
}
/*Grid End*/



@media (min-width:1200px) {
.custom-modal .modal-dialog { width: 700px !important; background: none; box-shadow: none }
.custom-modal.modal { overflow-y: hidden !important; }
.tooltip-logo-cart .tooltip-center { margin: 0 auto; text-align: center; }
.tooltip-logo-cart .tooltip-left { float: left; text-align: left; }
.tooltip-logo-cart .tooltip-right { float: right; text-align: right;  }
.tooltip-logo-cart .tooltip-image-width { margin: 0 auto; text-align: center;  }
}
 @media (min-width:768px) {
.custom-modal .shipping-margin { margin-top: 8px; }
.your-postcode { white-space: nowrap; }
}
 @media screen and (max-width:1200px) {
/*.text-details { white-space: inherit; }*/
.custom-modal .option-note { font-size: 12px; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.text-details { width: 539px; }
.logo-text { margin-bottom: 30px }
.custom-modal .shipping_code_form input.required-entry { width: 54% }
.custom-modal .text-details { white-space: normal }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1199px) {
.tooltip-logo-cart .tooltip-db {  right: 0px; }
}
 @media only screen and (min-device-width : 600px) and (max-device-width : 840px) and (orientation : portrait) {
.custom-modal .shipping_code_form input.required-entry { width: 48% }
}
 @media only screen and (min-device-width : 600px) and (max-device-width : 1024px) and (orientation : landscape) {
.custom-modal .shipping_code_form input.required-entry { width: 48% }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 767px) and (orientation: landscape) {
 .tooltip-logo .tooltip-db, .tooltip-logo-cart .tooltip-db{right: 0;  }
}
 @media screen and (max-width:767px) {
	 .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;

}

.row { margin-right: -15px; margin-left: -15px }
.db-row { margin-right: -15px; margin-left: -15px }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left }
.custom-modal .col-xs-1, .custom-modal .col-xs-2, .custom-modal .col-xs-3, .custom-modal .col-xs-4, .custom-modal .col-xs-5, .custom-modal .col-xs-6, .custom-modal .col-xs-7, .custom-modal .col-xs-8, .custom-modal .col-xs-9, .custom-modal .col-xs-10, .custom-modal .col-xs-11, .custom-modal .col-xs-12 {
    float: left;
}
.custom-modal .col-xs-12 {
    width: 100%;
}
.custom-modal .col-xs-11 {
    width: 91.6667%;
}
.custom-modal .col-xs-10 {
    width: 83.3333%;
}
.custom-modal .col-xs-9 {
    width: 75%;
}
.custom-modal .col-xs-8 {
    width: 66.6667%;
}
.custom-modal .col-xs-7 {
    width: 58.3333%;
}
.custom-modal .col-xs-6 {
    width: 50%;
}
.custom-modal .col-xs-5 {
    width: 41.6667%;
}
.custom-modal .col-xs-4 {
    width: 33.3333%;
}
.custom-modal .col-xs-3 {
    width: 25%;
}
.custom-modal .col-xs-2 {
    width: 16.6667%;
}
.custom-modal .col-xs-1 {
    width: 8.33333%;
}
.custom-modal .col-xs-pull-12 {
    right: 100%;
}
.custom-modal .col-xs-pull-11 {
    right: 91.6667%;
}
.custom-modal .col-xs-pull-10 {
    right: 83.3333%;
}
.custom-modal .col-xs-pull-9 {
    right: 75%;
}
.custom-modal .col-xs-pull-8 {
    right: 66.6667%;
}
.custom-modal .col-xs-pull-7 {
    right: 58.3333%;
}
.custom-modal .col-xs-pull-6 {
    right: 50%;
}
.custom-modal .col-xs-pull-5 {
    right: 41.6667%;
}
.custom-modal .col-xs-pull-4 {
    right: 33.3333%;
}
.custom-modal .col-xs-pull-3 {
    right: 25%;
}
.custom-modal .col-xs-pull-2 {
    right: 16.6667%;
}
.custom-modal .col-xs-pull-1 {
    right: 8.33333%;
}
.custom-modal .col-xs-pull-0 {
    right: auto;
}
.custom-modal .col-xs-push-12 {
    left: 100%;
}
.custom-modal .col-xs-push-11 {
    left: 91.6667%;
}
.custom-modal .col-xs-push-10 {
    left: 83.3333%;
}
.custom-modal .col-xs-push-9 {
    left: 75%;
}
.custom-modal .col-xs-push-8 {
    left: 66.6667%;
}
.custom-modal .col-xs-push-7 {
    left: 58.3333%;
}
.custom-modal .col-xs-push-6 {
    left: 50%;
}
.custom-modal .col-xs-push-5 {
    left: 41.6667%;
}
.custom-modal .col-xs-push-4 {
    left: 33.3333%;
}
.custom-modal .col-xs-push-3 {
    left: 25%;
}
.custom-modal .col-xs-push-2 {
    left: 16.6667%;
}
.custom-modal .col-xs-push-1 {
    left: 8.33333%;
}
.custom-modal .col-xs-push-0 {
    left: auto;
}
.custom-modal .col-xs-offset-12 {
    margin-left: 100%;
}
.custom-modal .col-xs-offset-11 {
    margin-left: 91.6667%;
}
.custom-modal .col-xs-offset-10 {
    margin-left: 83.3333%;
}
.custom-modal .col-xs-offset-9 {
    margin-left: 75%;
}
.custom-modal .col-xs-offset-8 {
    margin-left: 66.6667%;
}
.custom-modal .col-xs-offset-7 {
    margin-left: 58.3333%;
}
.custom-modal .col-xs-offset-6 {
    margin-left: 50%;
}
.custom-modal .col-xs-offset-5 {
    margin-left: 41.6667%;
}
.custom-modal .col-xs-offset-4 {
    margin-left: 33.3333%;
}
.custom-modal .col-xs-offset-3 {
    margin-left: 25%;
}
.custom-modal .col-xs-offset-2 {
    margin-left: 16.6667%;
}
.custom-modal .col-xs-offset-1 {
    margin-left: 8.33333%;
}
.custom-modal .col-xs-offset-0 {
    margin-left: 0;
}
.shipping_code_form div.validation-advice { margin-left: 0px; }
.tooltip-logo-cart .tooltip-right { width: 100%; }
.tooltip-logo-cart .tooltip-image-width { width: 260px; }
.custom-modal .form-control { width: 100%; }
.tooltip-logo-cart .tooltip-image-width img { width: 100%; }
.or-divider-sufix, .or-divider-prifix { width: 100% !important; }
.custom-modal .checkout-titile, .custom-modal .modal-heading-title { width: 100%; }
.your-postcode { white-space: normal; }
.shipping-margin { margin: 0; }
.custom-modal .option-note { float: left; margin-bottom: 5px; position: static; width: 100%; margin-top: 10px; }
.custom-modal .left-h .mCSB_scrollTools { right: 0px; }
.custom-modal .side-content p { margin-top: 15px; }
.custom-modal .product-image-1 { width: 88px }
.modal-popup .modal-inner-wrap { width: auto; background: none; margin: 10px; }
.custom-modal .text-details { margin-top: 20px; }
.custom-modal .ship-estimation { margin-top: 10px; }
.tooltip-logo-cart .tooltip-center { margin: 0 auto; text-align: center; }
.tooltip-logo-cart .tooltip-left { float: left; text-align: left; }
.tooltip-logo-cart .tooltip-right { float: right; text-align: right; }
.tooltip-logo-cart .tooltip-image-width { margin: 0 auto; text-align: center; }
.tooltip-logo .tooltip-db, .tooltip-logo-cart .tooltip-db{right: auto;  }
.tooltip-logo .tooltip-db,.tooltip-logo-cart .tooltip-db {display: none !important;}
}
 @media only screen and (max-width: 580px) {
.splitpopupone { width: 90%; }
.dividebuy-color { font-size: 15px; }
.dividebuy-color b { font-size: 15px; }
.dividebuy-grey-color b { font-size: 15px; }
.splitpopupone .splitpopup_content { font-size: 15px; }
a.cntn_button { font-size: 17px; }
.ship-estimation { margin-top: 15px; }
.checkout-guest { margin: 30px 0px; }
.custom-modal .modal-body { padding: 0 30px 66px; }
.custom-modal .text-details { white-space: normal; width: initial; margin: 35px 0 35px 0; }
.custom-modal .datas { margin-left: 0; }
.custom-modal .shipping_code_form input.required-entry { width: 100%; height: 35px; margin: 0; }
.custom-modal .left-h, .custom-modal .right-h { width: 100%; float: left; padding-right: 0; }
.custom-modal .right-h { margin-top: 15px; }
.custom-modal input.btn-checkout-modal { float: left; }
.custom-modal .estimate-page .mCSB_inside>.mCSB_container { margin-right: 0; }
/*tooltip*/
/*.tooltip-logo .tooltip-width, .tooltip-logo-cart .tooltip-center { width: 100%; }*/
.tooltip-width img { width: 100%; }
}
 @media only screen and (max-width: 480px) {
.tooltip-logo-cart .tooltip-image-width { width: 260px; }
.tooltip-logo-cart .tooltip-image-width img { width: 100%; }
.slip_tooltip_container { left: 0 !important; right: 0 !important; }
}

/*cart section start*/
.tooltip-logo-cart {    width: auto;    float: right;    font-family: comfortaa;}
.slip_tooltip_container {    position: absolute;    max-width: 350px;    width: 100%;    box-shadow: none;    border: 2px solid #3e8ede!important;    border-radius: 5px;    z-index: 99;    padding: 10px 10px 10px 10px;    background: #fff;    box-sizing: border-box;}
.slip_tooltip_content {    font-size: 13px;    text-align: left;    font-family: comfortaa;    width: auto;    line-height: 20px;    color: #7f7f73;}
.tooltip-box .blue {    color: #3e8ede;    font-weight: 500;}
.tooltip-box .grey {    color: #76726d;    font-weight: 500;}
.ui-tooltip {    border-radius: 8px !important;}
.tooltip-logo-cart .hover-instalment.instalment-5 {    background: transparent none repeat scroll 0 0;    border: medium none;}
.slip_tooltip_container.coupon-box{width: 285px; }
.cart-summary .checkout-methods-items .item {
    margin-bottom: 0;
}
/*cart section end*/

.option-text {
    font-size: 14px;
    font-weight: 500; 
}