<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductImagesByCustomer
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_ProductImagesByCustomer::main" title="Product Images by Customer" module="Bss_ProductImagesByCustomer" sortOrder="999" parent="Magento_Backend::marketing" resource="Bss_ProductImagesByCustomer::main"/>
        <add id="Bss_ProductImagesByCustomer::images" title="Customer Product Images Management" action="bss_productimagesbycustomer_admin/image/index" module="Bss_ProductImagesByCustomer" sortOrder="3" parent="Bss_ProductImagesByCustomer::main" resource="Bss_ProductImagesByCustomer::main"/>
    </menu>
</config>
