<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductImagesByCustomer
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Bss Commerce]]></label>
        </tab>        
        <section id="bss_product_image_by_customer" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Images By Customer</label>
            <tab>bss</tab>
            <resource>Bss_ProductImagesByCustomer::config_productimagesbycustomer</resource>
            <group id="bss_product_image_by_customer_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.0.7]]></comment>
                </field>
                <field id="allow_not_login" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Guests to Upload Images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_require" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tab Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="description" translate="label" type="editor" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tab Description</label>
                    <frontend_model>Bss\ProductImagesByCustomer\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
            </group>
            <group id="bss_product_image_by_customer_image_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display Settings</label>
                <field id="speed_slide" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slideshow Speed</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                    <comment><![CDATA[Transition duration (in seconds) between two continuous slides]]></comment>
                </field>
                <field id="number_image_per_slide" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Images per Silder</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                </field>
                <field id="number_image_upload_once" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Limit Number of Uploaded Images at Once</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                </field>
                <field id="slide_horizontal_image_dimension" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Horizontal Image Dimension (in Slider)</label>
                    <validate>required-entry validate-greater-than-zero validate-digits-range digits-range-1-200</validate>
                    <comment><![CDATA[The maximum size allowed is 200px]]></comment>
                </field>
                <field id="slide_vertical_image_dimension" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vertical Image Dimension (in Slider)</label>
                    <validate>required-entry validate-greater-than-zero validate-digits-range digits-range-1-200</validate>
                    <comment><![CDATA[The maximum size allowed is 200px]]></comment>
                </field>
                <field id="click_horizontal_image_dimension" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Horizontal Image Dimension (Zoom Image)</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                </field>
                <field id="click_vertical_image_dimension" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vertical Image Dimension (Zoom Image)</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                </field>
            </group>
            <group id="bss_product_image_by_customer_email_notification" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Notification</label>
                <field id="enable_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Email Notification to Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_receiver" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Receiver</label>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Templates</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
