<div class="email-campaign__overview">
    <h1 text="label"/>

    <div class="rates">
        <div class="value fa-envelope">
            <h3 translate="'Ready to Go'"/>
            <strong text="pending" />

        </div>

        <div class="value fa-send">
            <h3 translate="'Sent'"/>
            <strong text="email_qty" />

        </div>

        <div class="value fa-envelope-open">
            <h3 translate="'Opened'"/>
            <strong text="open_qty" />
        </div>

        <div class="value fa-mouse-pointer">
            <h3 translate="'Clicked'"/>
            <strong text="click_qty" />
        </div>

        <div class="value fa-bullseye">
            <h3 translate="'Orders'"/>
            <strong text="order_qty" />
        </div>

        <div class="rate fa-bullseye">
            <h3 translate="'Reviews'"/>
            <strong text="review_qty" />
        </div>
    </div>
</div>