<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Sorting
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amsorting>
            <general>
                <desc_attributes>bestsellers,rating_summary,reviews_count,most_viewed,wished,created_at,saving</desc_attributes>
            </general>
            <bestsellers>
                <exclude>canceled</exclude>
                <best_period>183</best_period>
            </bestsellers>
            <most_viewed>
                <viewed_period>90</viewed_period>
            </most_viewed>
        </amsorting>
    </default>
</config>
