.option-text {
    font-size: 14px;
    font-weight: bold; 
}
.tooltip-logo .hover-instalment, .tooltip-logo-cart .hover-instalment{ font-family: comfortaa; }
.tooltip-logo .highlights-instalments-text, .tooltip-logo-cart .highlights-instalments-text {
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.tooltip-logo .hover-instalment, .tooltip-logo-cart .hover-instalment{    color: #7f7f73 !important;}
.tooltip-logo .tooltip-db-1, .tooltip-logo-cart .tooltip-db-1{     border: 1px solid #7f7f73; }
.custom-modal .btn-lightgrey, input[type="submit"].btn-lightgrey{    float: none;
    opacity: 1;
    text-shadow: none;}
 .custom-modal .modal-heading-title{     font-weight: bold; }
 .custom-modal .checkout-titile{ width: auto; }
 .custom-modal .custom-label{color: #7f7f73;}
 .continue-text {
    font-size: 12px;
    margin-bottom: 15px;
    color: #7f7f73;
    line-height: 1.4;
}
.custom-modal .logo-text{ line-height: 1.4; }
.custom-modal .modal-inner-wrap {
    background: none;
    width: 600px;
    max-width: inherit;
}
.custom-modal.modal-popup {
    font-family: arial;
    line-height: 1.4;
    max-width: 100%;
        margin: 0 auto;
}
.tooltip-logo-cart {
    width: auto;
    float: none;
    font-family: comfortaa;
    display: inline-block;
}
.tooltip-logo-cart .tooltip-db{    left: 50%;
    transform: translateX(-50%);}

.custom-modal .shipping_code_form input.required-entry {
    width: 53%;
    margin-right: 10px;
}
.custom-modal .shipping-m-title-1{font-weight: bold;}

@media (min-width: 1200px){
.custom-modal .modal-dialog {
    max-width: 700px !important;
    background: none;
    box-shadow: none;
    width: 700px;
}
}

@media only screen and (max-width: 991px){
    body._has-modal .animated-arrow{ z-index: 1; }
}

@media screen and (max-width: 767px){
.modal-popup .modal-inner-wrap {
    width: auto;
    background: none;
    margin: 1.75rem;
}}

@media only screen and (max-width: 580px){
.custom-modal .shipping_code_form input.required-entry {
    width: 100%;
    height: 35px;
    margin: 0;
}}