<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bhs" translate="label" sortOrder="10">
            <label>BHS Solutions</label>
        </tab>
        <section id="deliverycountdown" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delivery Countdown</label>
            <tab>bhs</tab>
            <resource>Bhs_DeliveryCountdown::deliverycountdown_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="string" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Text</label>
					<comment>Set text to be shown on frontend. e.g. For delivery on {{delivery_date}} order within the next {{time_remaining}} seconds!</comment>
                </field>
                <field id="cutofftimemon" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Cut Off Time</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                    <comment>24 hour format, e.g. 15:01. Orders placed after cut off time will fall to the next business day for delivery.</comment>
                </field>
				<field id="product" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timer Attribute Code</label>
					<comment>Set a product attribute code for delivery days. Overides delivery time days if set for product.</comment>
					 <tooltip>Delivery based on products.</tooltip>
                </field>
				<field id="deliverytime" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Time (Days)</label>
					<comment>Expected number of days for delivery from time of dispatch</comment>
                </field>
                <field id="weekdays" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Excluded Delivery Days</label>
                      <source_model>Bhs\DeliveryCountdown\Block\Adminhtml\System\Config\Form\Field\Weekdays</source_model>
                      <comment>Days on which your carrier wil not deliver. Hold CTRL key to select multiple values</comment>
                 </field>
				<field id="mapping" translate="label comment tooltip" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Excluded Occassional Days</label>
                        <frontend_model>Bhs\DeliveryCountdown\Block\Adminhtml\System\Config\Form\Field\excludeDays</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>
                            <![CDATA[Exculde Occassional days from delivery time calculation on which your carrier will not deliver. e.g Easter, Christmas etc.]]>
                        </comment>
                        <tooltip>Delivery and cuttoff not include these days.</tooltip>
				</field>                
			</group>			
        </section>
    </system>
</config>